body.admin {
    overflow: hidden;
}

.admin-container {
    height: 100vh;
    display: flex;
    overflow-x: hidden;
}

.admin-sidebar {
    min-width: 250px;
    max-width: 250px;
    background: var(--white);
    border-right: 2px solid var(--gray-200);
    margin-left: -250px;
    transition: margin-left .15s linear;
    overflow-y: auto;
    position: absolute;
    height: 100%;
    z-index: 2;
}

[data-theme-style="dark"] .admin-sidebar {
    background: var(--gray-100);
}

body.admin-sidebar-opened .admin-sidebar {
    margin-left: 0;
}

@media (min-width: 992px) {
    .admin-sidebar {
        margin-left: 0;
        position: initial;
        height: initial;
    }
}

.admin-sidebar-title {
    display: flex;
    align-items: center;
    padding: .5rem 0 .5rem 1.8rem;
    height: 75px;
}

.admin-sidebar-title a {
    font-size: 1.5rem;
    color: var(--gray-900);
    font-weight: 600;
}

.admin-sidebar-title a:hover {
    text-decoration: none;
}

.admin-sidebar-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.admin-sidebar-links li {
    padding: .25rem 0;
    transition: background .3s linear;
}

.admin-sidebar-links li:hover:not(.active) {
    background:var(--gray-200)
}

.admin-sidebar-links li > a {
    color: var(--gray-800);
}

.admin-sidebar-links li > a svg {
    color: var(--gray-600);
}

.admin-sidebar-links li.active {
    background:var(--gray-200)
}

.admin-sidebar-links li.active > a, .admin-sidebar-links li.active > a svg {
    color: var(--primary-900);
}

.admin-sidebar hr {
    border-top: 2px solid var(--gray-200);
}

.admin-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--gray);
    z-index: 1;
    opacity: .6;
}

.admin-content {
    flex-grow: 1;
    overflow: auto;
}

.admin-navbar {
    min-height: 75px;
    border-bottom: 1px solid var(--gray-300);
}

.admin-navbar-logo {
    max-height: 2.5rem;
    height: 2.5rem;
}

.admin-navbar-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 300px;
    width: 100%;
}

/* Top Navbar */
.admin-top-navbar {
    border-bottom: 1px solid var(--gray-200);
    background: var(--white);
}

@media (min-width: 992px) {
    .admin-top-navbar {
        display: none;
    }
}

.navbar-custom-toggler {
    padding: 0.5rem .8rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border-radius: .25rem;

    color: var(--gray-700);
    border-color: var(--gray-300);
}

.admin-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* Other */
.user-avatar {
    width: 45px;
    height: 45px;
}

/* Table */
.table-custom-container {
    border-radius: .25rem;
    border: 1px solid var(--gray-200);
}

.table-custom {
    margin-bottom: 0;
}

.table-custom thead th {
    border-top: 0;
    border-bottom: 0;
    background: var(--gray-100);
}

.table-custom th {
    padding: 1.25rem 1rem;
}

.table-custom td {
    padding: 1.25rem 1rem;
    /*background: var(--white);*/
    vertical-align: middle;
    border-color: var(--gray-200)
}

.table-custom tbody tr {
    transition: all .3s ease-in-out;
}

.table-custom tbody tr:hover td {
    background: var(--gray-100);
}

/* Footer */
footer {
    border-top: 2px solid var(--gray-200);
    padding-top: 1.5rem;
}

footer img {
    width: 16px;
    height: 14px;
}

/* Misc */
.container-disabled {
    pointer-events: none;
    opacity: .5;
}

/* Badge colors */
.badge-primary {
    color: hsl(211, 100%, 35%);
    background-color: hsl(211, 100%, 85%);
}

[data-theme-style="dark"] .badge-primary {
    background-color: hsl(211, 100%, 35%);
    color: hsl(211, 100%, 85%);
}

.badge-secondary {
    color: hsl(208, 7%, 35%);
    background-color: hsl(208, 7%, 85%);
}

[data-theme-style="dark"] .badge-secondary {
    background-color: hsl(208, 7%, 35%);
    color: hsl(208, 7%, 85%);
}

.badge-success {
    color: hsla(134, 50%, 30%, 1);
    background-color: hsla(134, 50%, 85%, 1);
}

[data-theme-style="dark"] .badge-success {
    background-color: hsla(134, 50%, 30%, 1);
    color: hsla(134, 50%, 85%, 1);
}

.badge-danger {
    color: hsla(354, 70%, 35%, 1);
    background-color: hsla(354, 70%, 85%, 1);
}

[data-theme-style="dark"] .badge-danger {
    background-color: hsla(354, 70%, 35%, 1);
    color: hsla(354, 70%, 85%, 1);
}

.badge-warning {
    background-color: hsla(45, 100%, 85%, 1);
    color: hsla(40, 80%, 30%, 1);
}

[data-theme-style="dark"] .badge-warning {
    background-color: hsla(50, 10%, 20%, 1);
    color: hsla(45, 100%, 85%, 1);
}

.badge-info {
    color: hsla(188, 60%, 30%, 1);
    background-color: hsla(188, 78%, 85%, 1);
}

[data-theme-style="dark"] .badge-info {
    background-color: hsla(188, 60%, 30%, 1);
    color: hsla(188, 78%, 85%, 1);
}

.badge-light {
    color: hsla(210, 15%, 35%, 1);
    background-color: hsl(210, 17%, 95%);
}

[data-theme-style="dark"] .badge-light {
    background-color: hsla(210, 15%, 35%, 1);
    color: hsl(210, 17%, 95%);
}

.badge-dark {
    color: hsla(210, 10%, 90%, 1);
    background-color: hsla(210, 10%, 20%, 1);
}

[data-theme-style="dark"] .badge-dark {
    background-color: hsla(210, 10%, 90%, 1);
    color: hsla(210, 10%, 20%, 1);
}

/* Round circles */
.round-circle-md {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.round-circle-lg {
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* Modal */
.modal-header {
    padding: 1rem;
    border-bottom: 0;
}

.modal-subheader {
    padding: 0 1rem;
    border-bottom: 0;
    margin: 0;
}

.modal-content {
    padding: 1rem;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
